.Home-container {
  display: flex;
  flex-direction: column;
}

#sort-btn {
  width: 50px;
  height: 25px;
  margin-bottom: 8px;
  background-color: transparent;
  border: 0px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.425);
  position: relative;
  left: 320px;
  padding: 2px 5px;
  font-weight: bold;
  cursor: pointer;
}

#sort-btn:hover {
  color: rgb(235, 190, 107);
}
